<div class="search">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input type="search" placeholder="Enter a movie, show, or person..." formControlName="searchQuery">
    <button type="submit" [disabled]="!searchForm.valid">search</button>
  </form>
</div>
<!-- <div *ngIf="mediaList" class="row">
  <div class="col-12">
    <div class="row">
      <div *ngFor="let media of mediaList" class="col-3">
        <div class="card">
          <img src="https://image.tmdb.org/t/p/original/{{media.poster_path}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 *ngIf="media.media_type === 'movie'" class="card-title">{{media.title}}</h5>
            <h5 *ngIf="media.media_type === 'tv'" class="card-title">{{media.name}}</h5>
            <p class="card-text">{{media.overview}}</p>
          </div>
          <div class="card-footer">
            <span *ngFor="let genre of media.genres" class="badge badge-dark">{{genre.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

