<div *ngFor="let filter of filters; first as isFirst">
  <mat-accordion>
    <mat-expansion-panel [expanded]="isFirst">
      <mat-expansion-panel-header>
        <mat-panel-title>{{filter.title}}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list #activeFilters (selectionChange)="handleSelectionChange(filter.id, activeFilters.selectedOptions.selected)">
        <mat-list-option *ngFor="let option of filter.options" [value]="option[filter.optionId]">
          {{option[filter.name]}}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
