<div class="row">
  <div *ngFor="let movie of movies" class="col-md-3">
    <div class="card">
      <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">{{movie.overview}}</p>
      </div>
      <div class="card-footer">
        <span *ngFor="let genre of movie.genres"class="badge badge-dark">{{genre.name}}</span>
      </div>
    </div>
  </div>
</div>
